In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame([ [np.nan, 2, np.nan, 0],
                    [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, 5],
                    [np.nan, 3, np.nan, 4],
                    [np.nan, np.nan, np.nan, np.nan]],
                    columns=list('ABCD'))
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  3.0 NaN  4.0
4  NaN  NaN NaN  NaN

with df.isnull().sum() it calculate of nan elements in every column and show it to us

In [4]:
df.isnull().sum()

A    4
B    2
C    5
D    1
dtype: int64

with df.isna() we can show any element that if it is a value with False if it does not value and it's a nan show it with True

In [5]:
df.isna()

       A      B     C      D
0   True  False  True  False
1  False  False  True  False
2   True   True  True  False
3   True  False  True  False
4   True   True  True   True

In [6]:
pd.isna(df['A'])

0     True
1    False
2     True
3     True
4     True
Name: A, dtype: bool

the method of pandas.notna() it works The opposite of the previous method.

In [7]:
df['A'].notna()

0    False
1     True
2    False
3    False
4    False
Name: A, dtype: bool

with pd.fillna(x) we can fill the nan cells by x value

In [8]:
df.fillna(0)

     A    B    C    D
0  0.0  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  0.0  0.0  0.0  5.0
3  0.0  3.0  0.0  4.0
4  0.0  0.0  0.0  0.0

In [9]:
df.fillna(df.mean())

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  3.0 NaN  5.0
3  3.0  3.0 NaN  4.0
4  3.0  3.0 NaN  2.5

with this command we fill the nan cells in A and B columns with own mean

In [11]:
df.fillna(df.mean()['A':'B'])

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  3.0 NaN  5.0
3  3.0  3.0 NaN  4.0
4  3.0  3.0 NaN  NaN

In [12]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  3.0 NaN  4.0
4  NaN  NaN NaN  NaN

In ffill method if Xn is none -----> Xn = Xn-1 in every column

In [13]:
df.fillna(method='ffill')

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  3.0  4.0 NaN  5.0
3  3.0  3.0 NaN  4.0
4  3.0  3.0 NaN  4.0

In [14]:
df.fillna({'A': 1.5, 'B':2.3, 'C':1.7, 'D':0.9})

     A    B    C    D
0  1.5  2.0  1.7  0.0
1  3.0  4.0  1.7  1.0
2  1.5  2.3  1.7  5.0
3  1.5  3.0  1.7  4.0
4  1.5  2.3  1.7  0.9

In [15]:
df.fillna({'A': 2, 'B':7, 'C': 6, 'D':3}, limit=1)

     A    B    C    D
0  2.0  2.0  6.0  0.0
1  3.0  4.0  NaN  1.0
2  NaN  7.0  NaN  5.0
3  NaN  3.0  NaN  4.0
4  NaN  NaN  NaN  3.0

In [16]:
df.fillna({'A': 2, 'B':7, 'C': 6, 'D':3}, limit=2)

     A    B    C    D
0  2.0  2.0  6.0  0.0
1  3.0  4.0  6.0  1.0
2  2.0  7.0  NaN  5.0
3  NaN  3.0  NaN  4.0
4  NaN  7.0  NaN  3.0

In [17]:
df.dropna()

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [18]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [19]:
df.dropna(axis=0)

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [23]:
df['A'].dropna()

1    3.0
Name: A, dtype: float64

In [24]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  3.0 NaN  4.0
4  NaN  NaN NaN  NaN

with dropna(thresh= x) we can delete the row with at least x nan in it

In [25]:
df.dropna(thresh=2)

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
3  NaN  3.0 NaN  4.0

with dropna(how= 'all') we can remove only rows that all elements are nan

In [26]:
df.dropna(how='all')

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  3.0 NaN  4.0

In [28]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  3.0 NaN  4.0
4  NaN  NaN NaN  NaN

In [27]:
df.dropna(subset=['B'])

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
3  NaN  3.0 NaN  4.0

Imputing Missing

the work of below code is like df.fillna(df.mean())

In [42]:
# from sklearn.preprocessing import Imputer      Error : it is not exist imputer in preprocessing any more
from sklearn.impute import SimpleImputer as imputer
imr = imputer(missing_values=np.nan, strategy='mean')
imr = imr.fit(df)
imputed_data = imr.transform(df.values)

c:\Users\azizi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SimpleImputer was fitted with feature names
  warnings.warn(

In [44]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  3.0 NaN  4.0
4  NaN  NaN NaN  NaN

In [43]:
imputed_data

array([[3. , 2. , 0. ],
       [3. , 4. , 1. ],
       [3. , 3. , 5. ],
       [3. , 3. , 4. ],
       [3. , 3. , 2.5]])