Decision Tree classification

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

importing the nessecery package

In [2]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

read data

In [3]:
df = pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

pre-processing

In [7]:
my_data = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']].values
my_data[:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.114],
       [28, 'F', 'NORMAL', 'HIGH', 7.798],
       [61, 'F', 'LOW', 'HIGH', 18.043]], dtype=object)

In [10]:
label = df['Drug'].values
label[:5]

array(['drugY', 'drugC', 'drugC', 'drugX', 'drugY'], dtype=object)

In [11]:
from sklearn import preprocessing

In [12]:
le_sex = preprocessing.LabelEncoder()
le_sex.fit(['F', 'M'])
my_data[:,1] = le_sex.transform(my_data[:, 1])

le_pb = preprocessing.LabelEncoder()
le_pb.fit(['high'.upper() , 'NORMAL', 'LOW'])
my_data[:, 2] = le_pb.transform(my_data[:, 2])

le_cho = preprocessing.LabelEncoder()
le_cho.fit(['HIGH', 'NORMAL', 'LOW'])
my_data[:, 3] = le_pb.transform(my_data[:, 3])


my_data[:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.114],
       [28, 0, 2, 0, 7.798],
       [61, 0, 1, 0, 18.043]], dtype=object)